@font-face {
  font-family: "iconfont"; /* Project id 2549174 */
  src: url('//at.alicdn.com/t/font_2549174_snh0zxubu9e.woff2?t=1635852885799') format('woff2'),
  url('//at.alicdn.com/t/font_2549174_snh0zxubu9e.woff?t=1635852885799') format('woff'),
  url('//at.alicdn.com/t/font_2549174_snh0zxubu9e.ttf?t=1635852885799') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\e61d";
}

.icon-jingzheng:before {
  content: "\e667";
}

.icon-copy:before {
  content: "\e666";
}

.icon-hidden:before {
  content: "\e661";
}

.icon-lock:before {
  content: "\e662";
}

.icon-batch:before {
  content: "\e663";
}

.icon-block:before {
  content: "\e664";
}

.icon-control-goods:before {
  content: "\e665";
}

.icon-double-arrow:before {
  content: "\e6f7";
}

.icon-yanzhengma:before {
  content: "\e640";
}

.icon-basic-data:before {
  content: "\e650";
}

.icon-customer:before {
  content: "\e651";
}

.icon-data-center:before {
  content: "\e652";
}

.icon-finance:before {
  content: "\e653";
}

.icon-system-monitoring:before {
  content: "\e654";
}

.icon-basic-data-import:before {
  content: "\e655";
}

.icon-rd-tools:before {
  content: "\e656";
}

.icon-operation:before {
  content: "\e657";
}

.icon-customs-clearance:before {
  content: "\e658";
}

.icon-purchase:before {
  content: "\e659";
}

.icon-report:before {
  content: "\e65a";
}

.icon-sale:before {
  content: "\e65b";
}

.icon-supplier:before {
  content: "\e65c";
}

.icon-workbench:before {
  content: "\e65d";
}

.icon-system:before {
  content: "\e65e";
}

.icon-we-chat:before {
  content: "\e65f";
}

.icon-collectfuben:before {
  content: "\e64f";
}

.icon-edit:before {
  content: "\e62d";
}

.icon-account:before {
  content: "\e62e";
}

.icon-calendar:before {
  content: "\e62f";
}

.icon-close:before {
  content: "\e630";
}

.icon-fold:before {
  content: "\e631";
}

.icon-delete:before {
  content: "\e632";
}

.icon-collect:before {
  content: "\e633";
}

.icon-securitycode:before {
  content: "\e634";
}

.icon-remind:before {
  content: "\e635";
}

.icon-error:before {
  content: "\e636";
}

.icon-home:before {
  content: "\e637";
}

.icon-classify:before {
  content: "\e638";
}

.icon-succeed:before {
  content: "\e639";
}

.icon-password:before {
  content: "\e63a";
}

.icon-unfold:before {
  content: "\e63b";
}

.icon-underway:before {
  content: "\e63c";
}

.icon-pass:before {
  content: "\e63d";
}

.icon-uploading:before {
  content: "\e63e";
}

.icon-notice:before {
  content: "\e63f";
}

.icon-edit-copy:before {
  content: "\e660";
}
